main.main-archive {
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 200px 150px;
}

@media (max-width: 1080px) {
  main.main-archive {
    padding: 12.5rem 6.25rem;
  }
}

@media (max-width: 768px) {
  main.main-archive {
    padding: 9.375rem 3.125rem;
  }
}

@media (max-width: 480px) {
  main.main-archive {
    padding: 7.8125rem 1.5625rem;
  }
}
